/* Reset Bootstrap */
h1, h2, h3, h4, h5, h6{
    margin: auto;
    line-height: inherit;
    font-weight: inherit;
}
p{
    .margin-bottom(10px);
}
header, main, footer {
    display: block;
}
.btn{
    .border-radius(0);
}
ul{
    margin: 0;
    padding: 0;
}
li{
    display: block;
}
.page-header{
    margin: auto;
    padding: 0;
    border: none;
}
body{
    @typo-body();
    color: @fc-4d;
    line-height: 1.3;
    -ms-word-break: break-all;
     word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

/* Divider */
.divider{
    display: block;
    height: 1px;
    background-color: @bg-color-separator;
}

/* Link */
.link, .link-basic{
    cursor: pointer;
    color: @color-blue-brand;
    &:hover{
        color: @color-blue-bright;
        text-decoration: none;
    }
}
.link-basic{
    font-weight: 600;
    text-decoration: underline;
}
.link{
    font-size: @fs-link;
    font-weight: 700;
    span, i{
        vertical-align: middle;
    }
}

/* Anchor */
.anchor{
    position: absolute;
}

/* Button */
@btn-normal-basic: {
    .flex-display(flex);
    .justify-content(center);
    .align-items(center);
    font-size: 16px;
};
.btn{

    .transition(background-color 500ms ease-out);

    span{
        .flex(0 0 auto);
    }

    &.btn-normal{
        @btn-normal-basic();
        background-color: @color-blue-brand;
        color: @fc-ff;
        font-weight: 600;

        &:hover{
            background-color: @color-blue-bright;
        }
    }

    &.btn-normal-inverse{
        @btn-normal-basic();
        background-color: #fff;
        color: @fc-00;
        font-weight: 600;

        &:hover{
            background-color: rgba(255,255,255,0.9);
        }
    }
}

/* Form */
.form-control{
    .border-radius(0);
    border: 1px solid @bg-color-block;
    font-size: 16px;
    color: inherit;
}
/* Link */
img{
    max-width: 100%;
    max-height: 100%;
}

/* Processes  */
.process-title, .process-description{
    text-align: center;
}
.process-title{
    color: @fc-00;
}
.processes-123{

    .container(300px, 0);

     > .flex-row{
        .set-row-gutter(30px);
    }

    @media @query-md{
        .container(reset);

        position: relative;
        > .flex-row{
            .set-col-gutter(87px);
        }

        &:before{
            content: '';
            position: absolute;
            z-index: 0;
            height: 2px;
            width: 100%;
            background-color: @bg-color-separator;
            margin: auto;
            top: 40%;
        }
    }

    .process{
        position: relative;
        z-index: 1;
    }

    .process-head-number{
        margin-bottom: 15px;
    }

    .process-image{
        margin-bottom: 15px;

        .layout-icon-circle{
            .set-icon(100px; 57px; transparent; @color-blue-brand);
        }
    }

    .process-title{
        margin-bottom: 10px;
        font-size: 24px;
    }
}

/* List Items */
.list-item{
    position: relative;

    > i:first-child{
        position: absolute;
        margin: auto;
        left: 0;
    }
}

/* Layout: Icon */
.layout-icon-circle,
.layout-icon-square{
    .flex-display(flex);
    .justify-content(center);
    .align-items(center);
    > i, .icon, .icon-caption{
        display: block;
        .flex(0 0 auto);
        text-align: center;
    }
}
.layout-icon-circle{
    .border-radius(50%);
}

/* Layout: Cards */
.card-title{
    color: @fc-00;
}
.card-title, .card-description{
    text-align: center;
}

/* Layout: Postcard */
.layout-postcard{

	&.postcard-imagebigger{
	
		@media @query-md{
			.col-postcard-image{
				.flex-basis(percentage(600/1100));
				max-width: percentage(600/1100);
			}
			.col-postcard-content{
				.flex-basis(percentage(500/1100));
				max-width: percentage(500/1100);
			}
		}
		
	}

	&.postcard-textbigger{
		
		@media @query-md{
			.col-postcard-image{
				.flex-basis(percentage(500/1100));
				max-width: percentage(500/1100);
			}
			.col-postcard-content{
				.flex-basis(percentage(600/1100));
				max-width: percentage(600/1100);
			
			}
			
			.postcard-content{
				padding: 70px 40px 60px 80px;
				height: 540px;
			}		
		}
		
		    .postcard-header{
				margin-bottom: 35px;
			}
		
		    .postcard-title{
				font-size: 52px;
				line-height: 1.25;
			}
		
	}

	
    .postcard-image{
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .postcard-content{
        padding: 45px 40px 60px 50px;
    }
	
    .postcard-header{
        margin-bottom: 25px;
    }
    .postcard-title{
        font-size: @fs-subblock-em-title;
		line-height: 1.2;
    }
    .postcard-description{
        font-size: @fs-subblock-subtitle;
		line-height: 1.5;
    }
}

/* Layout: Statistics */
.layout-statistics{
    padding: 50px 0;

    .statistic{
        text-align: center;
    }
    .statistic-values{
        margin-bottom: 15px;
        color: @color-blue-brand;
    }
    .statistic-value-icon{
        font-size: 36px;
    }
    .statistic-value{
        font-size: 50px;
    }

    .statistic-title{
        margin-bottom: 15px;
        font-size: 21px;
        font-weight: 400;
        color: @fc-00;
    }
}

/* Layout: Alert */
.layout-alert{
    background-color: @bg-color-block;
}
.alert-content{
    .flex-grow(1);
}
.alert-header{
    margin-bottom: 30px;
}
.alert-title{
    color: @fc-00;
}

/* Page Header */
.page-header{
    margin: 100px 0 105px;
}
.page-title{
    text-align: center;

    h1{
        font-size: @fs-page-title;

        & + h2{
            margin-top: 15px;
        }
    }
    h2{
        font-size: @fs-page-subtitle;
    }
}

/* Block */
.block{
    margin-bottom: 60px;
}

/* Subblock */
.subblock-header,
.subblock-body,
.subblock-footer{
    &:last-child{
        margin-bottom: 100px;
    }

    + .divider{
        margin-top: 80px;
    }
}
.alone{
    &.subblock-body{
        padding-top: 100px;
    }
}
.subblock-header{
    padding-top: 83px;

    .divider{
        margin: 15px auto;
    }

    /* Add margin to .subblock-body
       if it is precedent by
       .subblock header */
    & + .subblock-body{
        margin-top: 70px;
    }

    & + &.small{
        padding-top: 40px;
    }
}
.subblock-title{
    text-align: center;

    h1{
        font-size: @fs-subblock-title;
        color: @fc-00;

        & + h2 {
            margin-top: 10px;
        }
    }
    h2{
        font-size: @fs-subblock-subtitle;
        color: @fc-title-light;
    }
    h1, h2 {
        + p{
            margin-top: 22px;
        }
    }
    p{
        font-size: @fs-body-lg;
    }

    & + &.small{
        h1{
            color: @fc-33;
        }
    }
    &.small{
        h1{
            font-size: @fs-subblock-em-subtitle;
        }
    }
}
.subblock-footer{
    margin-top: 35px;
}
.subblock-footer-link-only{
    text-align: center;
}

/* Tabular */
.tabular{
    .tabular-item{
        height: 100%;
    }

    .tabular-item-header,
    .tabular-item-footer{
        .flex-grow(0);
    }
    .tabular-item-body{
        .flex-grow(1);
    }

    .tabular-item-header,
    .tabular-item-body,
    .tabular-item-footer{
        .margin-bottom(10px);
    }

    .tabular-item-header{
        padding: 30px 28px;
        background-color: @color-blue-bright;
        color: @fc-ff;
        text-align: center;
    }

    .tabular-item-body{
        padding: 30px 28px;
        background-color: @bg-color-block;
    }
}

/* Text block */
@text-block-basic:{
    font-size: 32px;
    line-height: 1.6;
    text-align: center;

    strong{
        color: @fc-00;
        font-weight: 400;
    }
};
.text-block{
    @text-block-basic();
    color: @fc-00;
}

/* Quote block */
.quote-block{
    position: relative;
    padding: 30px 80px;

    @text-block-basic();

    &:before, &:after{
        content: '';
        position: absolute;
        .dimension-max(43px; 33px);
        background-repeat: no-repeat;
    }
    &:before{
        background-image: url(/theme_myfactory/static/img/quoteopen.png);
        top: 0;
        left: 0;
    }
    &:after{
        background-image: url(/theme_myfactory/static/img/quoteclose.png);
        bottom: 0;
        right: 0;
    }
}

/* Layout: Imgtxt */
.layout-imgtxt{
    > .flex-row{
        .flex-wrap(nowrap);
    }

    .col-imgtxt-content{
        .flex(1 1 auto);
    }
}
.imgtxt-content{
    padding-left: 30px;
}
.imgtxt-header{
    .margin-bottom(10px);
}
.imgtxt-title{
    color: @fc-00;
}