#footer{

    padding: 45px 0 135px;

    .col-sitemap, .col-social-media{
        width: 100%;
    }
    .col-sitemap{
        max-width: 365px;

        > .flex-row{
            .set-col-gutter(70px);
        }

        .list-header{
            margin-bottom: 15px;
            color: @fc-00;
            font-size: 15px;
        }
        .list-item{
            margin-bottom: 15px;
            a{
                color: @fc-4d;
				font-size: 14px;
				font-weight: 400;
				&:hover { font-weight: 600;}
            }
        }
    }

    .col-social-media{
        max-width: 310px;

        .social-icon{
            font-size: 50px;
            color: @fc-00;
        }

        .btn-normal{
            .dimension-max(134px; 51px);
        }
    }

    .list-item a, .social-icon{
        .transition(color 500ms ease-out);
        &:hover{
            color: @color-blue-brand;
        }
    }
}

#footer-copyright{
    padding-bottom: 25px;
	font-weight: 400;
    color: @fc-4d;	
}