#cards-demo-nav{
    .container(250px; 0);

    > .flex-row{
        .set-row-gutter(30px);
        .set-col-gutter(60px);
    }

    @media @query-sm{
        .container(725px; 0);

        > .flex-row{
            .set-col-gutter(50px);
        }
    }

    .card-image{
        margin-bottom: 15px;
        .layout-icon-circle{
            .set-icon(70px; 60px; transparent; @color-blue-brand);
        }
    }

    .card-title{
        margin-bottom: 15px;

        .link-basic{
            font-size: 18px;
            font-weight: 400;
        }
    }
}

#page-demo{
    .segment-label{
        margin-bottom: 20px;

        color: @color-blue-brand;
        i{
            font-size: 32px;
        }
        span{
            padding-left: 15px;
            font-size: 16px;
            font-weight: 400;
        }
    }
	
	.subblock-header {
		padding-top: 100px;
	}
	
	.subblock-title{
		 h1 {font-size: 44px;}
		h2 {font-size : 28px;}
	}
	
	.subblock-header+.subblock-body {
		margin-top: 40px;
	}
}

#giftcard-demo-action{
	background-image: url(/theme_myfactory/static/img/bigboost.jpg);
	height: 500px;

	@media @query-md{
	    .floating-card{
	        .dimension-max(468px; 353px);
	        left: 45px;
	        right: auto;
	    }
	}
}