@grid-columns: 12;

/*
 * COLOR
 */
@color-blue-brand: #1565c0;
@color-blue-dark: #0d47a1;
@color-blue-bright: #1e88e5;
@color-blue-light: #90caf9;


/*
 * TYPOGRAPHY
 */
/* Font family */
@fn: 'Open Sans', sans-serif;
@fn-small: 'Roboto', sans-serif;

/* Font size */
@fs-page-title: 52px;
@fs-page-subtitle: 32px;
@fs-subblock-em-title: 44px;
@fs-subblock-em-subtitle: 28px;
@fs-subblock-title: 36px;
@fs-subblock-subtitle: 26px;
@fs-body-lg: 15px;
@fs-body: 14px;
@fs-link: 15px;


/* Font color */
@fc-00: #000;
@fc-33: #333;
@fc-4d: #4d4d4d;
@fc-ff: #fff;

@fc-title: @fc-00;
@fc-title-light: @fc-33;


/* Body */
@typo-body:{
    font-family: @fn;
    font-size: @fs-body;
    font-weight: 300;
    letter-spacing: normal;
};


/*
 * BACKGROUND
 */
/* Background color */
@bg-color-block: #f0f0f0;
@bg-color-separator: #cfcfcf;


/*
 * CONTAINER
 * The size oso determine how large the container
 * can handle the column gutter from grid
 * without overflow the viewport
 *
 * Basic gutter can be handled is 30px
 * (because of the @container-side-padding = 15px)
 */
@container-side-padding: 15px;
@container-width-lg-large: @viewport-lg-min;            /* Max gutter: 30px */
@container-width-lg-medium: @viewport-lg-min - 100px;   /* Max gutter: 100px */
@container-width-lg-small: @viewport-lg-min - 200px;    /* Max gutter: 200px */

@container-width-md-large: @viewport-md-min;            /* Max gutter: 30px */
@container-width-md-medium: @viewport-md-min - 100px;   /* Max gutter: 30px */
@container-width-md-small: @viewport-md-min - 200px;    /* Max gutter: 30px */

@container-width-sm-large: @viewport-sm-min;   /* Max gutter: 30px */
@container-width-sm-medium: @viewport-sm-min - 70px;   /* Max gutter: 30px */
@container-width-sm-small: @viewport-sm-min - 150px;   /* Max gutter: 30px */

@container-width-xs-large: 320px;   /* Max gutter: 30px */
@container-width-xs-medium: 320px - 20px;   /* Max gutter: 30px */
@container-width-xs-small: 320px - 40px;   /* Max gutter: 30px */

/*
 * Responsive
 */
@viewport-xs-min: 0px;
@viewport-sm-min: @screen-sm-min;
@viewport-md-min: @screen-md-min;
@viewport-lg-min: @screen-lg-min;
@viewport-xs-max: @viewport-sm-min - 1px;
@viewport-sm-max: @viewport-md-min - 1px;
@viewport-md-max: @viewport-lg-min - 1px;

@query-sm: ~"(min-width: @{viewport-sm-min})";
@query-md: ~"(min-width: @{viewport-md-min})";
@query-lg: ~"(min-width: @{viewport-lg-min})";

@query-sm-less: ~"(max-width: @{viewport-xs-max})";
@query-md-less: ~"(max-width: @{viewport-sm-max})";
@query-lg-less: ~"(max-width: @{viewport-md-max})";

@mobileWidth-max: @viewport-xs-max;
@tabletWidth-min: @viewport-sm-min;
@tabletWidth-max: @viewport-lg-min - 1;
@desktopWidth-min: @viewport-lg-min;

@mobile:      ~"only screen and (max-width: @{mobileWidth-max})";
@tablet:      ~"only screen and (min-width: @{tabletWidth-min}) and (max-width: @{tabletWidth-max})";
@tablet-max:  ~"only screen and (max-width: @{tabletWidth-max})";
@desktop:     ~"only screen and (min-width: @{desktopWidth-min})";

/* Form */
@state-success-text: @color-blue-brand;